@{
    ViewBag.Title = "About";
}
<div class="row">
    
    <div class="col-xs-12 contentHeader">
        <h1>About</h1>
    </div>
    <div class="col-xs-12 contentBody">
        <h3>About This Site</h3>
        I created this site primarily to host documentation and information for the CacheManager library and maybe 
        other components I'm working on in the future.<br />
        The site will most likely not have a lot of private content, focus will be on software development and blog posts ;)
    
        <h3>About Me</h3>
    
        My name is Michael Conrad. 
        I'm working as software developer since 1996, currently living and working in Munich, Germany.<br />
        <br />
        I'm working at <a href="http://urbanscience.com/">Urban Science</a> as a Principal Developer
        with a nice Team and always lots of work ahead.
        <br />
        This web site though should be completely independent from my work at Urban Science and
        I will share only stuff I'm working on in my spare time.
        <br />
        <br />
        If you want, get in touch with me via Twitter, Github or my Blog!
        <br />
    </div>
</div>
