<div class="tile-row">
    <div class="tile-panel">
        <div class="row">
            <div class="title">&nbsp;</div>
            <div class="col-xs-12">
                <div class="tile-4-4 tile tile-magenta">
                    <p>
                        Hi, I'm Michael <br />and I'm a developer!<br />
                    </p>
                    <div>
                        On this page you might find updates and a list of open source projects I'm interested in or working on...<br />
                        My focus is on C#, JavaScript/TypeScript and in general anything interesting and web related.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="tile-1-1 tile tile-purple">
                    <i class="fa fa-code"></i>
                </div>
                <div class="tile-2-1 tile tile-skype">
                    <i class="fa fa-github-alt"></i>
                    <span>No content yet</span>
                </div>
                <div class="tile-1-1"></div>
                <div class="tile-2-1 tile tile-blue">
                    <i class="fa fa-code-fork"></i>
                </div>
                <div class="tile-1-1 tile tile-blue">
                    <i class="fa fa-qq"></i>
                </div>
                <div class="tile-1-1 tile tile-blue">
                    <i class="fa fa-reddit"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="tile-panel">
        <div class="row">
            <div class="title">Projects</div>
            <div class="col-xs-12">
                <div class="tile-4-4 tile tile-purple2">
                    <i class="fa fa-github fa-3" style="color:rgba(255, 255, 255, 0.34)"></i>
                    <div style="position:absolute; top:0px;left:0px; color:rgba(255, 255, 255, 1);">
                        <h1>CacheManager</h1>
                        CacheManager is a common interface and abstraction layer for caching. It supports various cache providers and implements many advanced features.
                        <br />The CacheManager source code can be <a href="https://github.com/MichaCo/CacheManager">found on github</a>.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <a href="https://github.com/MichaCo/CacheManager/blob/master/README.md">
                    <div class="tile-2-1 tile tile-organge">
                        <i class="fa fa-file-text fa-3"></i>
                        <span>CacheManager Readme</span>
                    </div>
                </a>
                <a href="http://michaco.github.io/Documentation/CacheManager/Help">
                    <div class="tile-2-1 tile tile-red">
                        <i class="fa fa-question-circle fa-3"></i>
                        <span>CacheManager Help</span>
                    </div>
                </a>
                <a href="@Url.Action("Index", "Documentation", new { Id = "CacheManager_GettingStarted" })" title="Getting started">
                    <div class="tile-2-2 tile tile-green">
                        <i class="fa fa-question-circle fa-3"></i>
                        <span>Documentation</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="tile-panel">
        <div class="row">
            <div class="title">Follow me</div>
            <div class="col-xs-12">
                <a href="https://github.com/MichaCo">
                    <div class="tile-2-2 tile tile-green">
                        <i class="fa fa-github fa-3"></i>
                        <span>Follow me on Github</span>
                    </div>
                </a>
                <a href="https://twitter.com/micha_conrad">
                    <div class="tile-2-2 tile tile-blue">
                        <i class="fa fa-twitter fa-3"></i>
                        <span>Follow me on Twitter</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="tile-1-1 tile tile-darkgray"></div>
                <div class="tile-2-1 tile tile-magenta"></div>
                <div class="tile-1-1 tile tile-red"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="tile-4-4" style="height:324px;">
                    <a class="twitter-timeline" href="https://twitter.com/micha_conrad" data-widget-id="584706540524990464">Tweets von @@micha_conrad </a>
                    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
                </div>
            </div>
        </div>
    </div>
</div>