body{
    background-color: #a16b47;
    background-image:url("Images/bg.jpg");
    background-position: top center;
    background-size: auto;
    background-attachment:fixed;
}
footer{
    padding-top: 50px;
    padding-bottom: 50px;
    width:100%; 
    text-align:center;
    color: #450F0F;
}

blockquote{
    font-size:14px;
    border-left-width: 10px;
    background-color: rgba(128,128,128,0.05);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

h1, .h1{
    font-size: 24px;
}
h2, .h2{
    font-size: 20px;
}
h3, .h3{
    font-size: 18px;
}
h4, .h4 {
    font-size: 16px;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 20px; 
    margin-bottom: 10px; 
}

code {
    white-space: pre-wrap;
    padding: 1px 5px;
    color:#333;
    font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
    background-color: #eee;
}

.site-content{
    background-color:#fff;
    margin-top:20px;
    border-radius:10px;
}

.back-to-top {
    background: none;
    margin: 0;
    position: fixed;
    bottom: 60px;
    right: 4px;
    z-index: 100;
    display: none;
    text-decoration: none;
    color: #000;
}
.back-to-top:hover, .back-to-top:active{
    color: #025162;
}

.back-to-top i {
  font-size: 60px;
}

/* tiles on start page */

.tile-red{
    background-color:#ac193d;
    border:2px solid #ac193d;
}
.tile-green{
    background-color:#107c10;
    border:2px solid #107c10;
}
.tile-blue{
    background-color:#0072c6;
    border:2px solid #0072c6;
}
.tile-purple{
    background-color:#5133ab;
    border:2px solid #5133ab;
}
.tile-purple2{
    background-color:#80397b;
    border:2px solid #80397b;
}
.tile-skype{
    background-color:#00aff0;
    border:2px solid #00aff0;
}
.tile-organge{
    background-color:#d24726;
    border:2px solid #d24726;
}
.tile-magenta{
    background-color:#008299;
    border:2px solid #008299;
}
.tile-darkgray{
    background-color:#464646;
    border:2px solid #464646;
}
.tile{
    color:#ffffff;
    margin-right:3px;
    margin-top:3px;
    float:left;
    font-size: 12px;
    position: relative;
}
.tile > span {
    font-size:11px;
    position:absolute;
    bottom:0px;
    display:block;
}
.tile-title{
    padding-top:25px;
    font-size: 15px;
    color: #fff;
}

.tile:hover{
    border: 2px solid #b2b2b2;
}

.tile:active{
    border: 2px solid #d5d5d5;
}

.tile-col{
    width:300px;
}
.tile-1-1{
    width:64px;
    height:64px;
}
.tile-2-1{
    width:132px;
    height:64px;
}
.tile-2-2{
    width:132px;
    height:132px;
}
.tile-4-4{
    width:267px;
    height:267px;
}

.tile > i{
    width:100%;
    height:80%;
    position:absolute;
    left:0px;
    top:0px;
    text-align:center;
}
.tile > div{
    margin:15px;
}
.tile a{
    color: #fff;
}
.tile-4-4 > i {
    font-size: 12em;
    line-height: 1.8em;
}
.tile-2-2 i {
    font-size: 6em;
    line-height: 1.5em;
}
.tile-2-1 i {
    font-size: 3em;
    line-height: 1.5em;
}
.tile-1-1 i {
    font-size: 3em;
    line-height: 1.5em;
}

@media (min-width: 992px) {
    .tile{
        font-size: 13px;
    }
    .tile > span {
        font-size:12px;
    }
    .tile-col{
        width:323px;
    }
    .tile-1-1{
        width:70px;
        height:70px;
    }
    .tile-2-1{
        width:143px;
        height:70px;
    }
    .tile-2-2{
        width:143px;
        height:143px;
    }
    .tile-4-4{
        width:290px;
        height:290px;
    }
    
    h1, .h1{
        font-size: 28px;
    }
    h2, .h2{
        font-size: 22px;
    }
    h3, .h3{
        font-size: 18px;
    }
    h4, .h4 {
        font-size: 16px;
    }
}
@media (min-width: 1200px) {
    .tile{
        font-size: 14px;
    }
    .tile > span {
        font-size:13px;
    }
    .tile-col{
        width:390px;
    }
    .tile-1-1{
        width:87px;
        height:87px;
    }
    .tile-2-1{
        width:177px;
        height:87px;
    }
    .tile-2-2{
        width:177px;
        height:177px;
    }
    .tile-4-4{
        width:357px;
        height:357px;
    }
    .tile-4-4 > i {
        font-size: 14em;
        line-height: 1.8em;
    }
    .tile-2-2 i {
        font-size: 7em;
        line-height: 1.4em;
    }
    .tile-2-1 i {
        font-size: 3.5em;
        line-height: 1.4em;
    }
    .tile-1-1 i {
        font-size: 3.5em;
        line-height: 1.4em;
    }
    
    h1, .h1{
        font-size: 30px;
    }
    h2, .h2{
        font-size: 24px;
    }
    h3, .h3{
        font-size: 20px;
    }
    h4, .h4 {
        font-size: 18px;
    }
}

/* layout for documentation */
.contentBody{
    background-color: #fff;
    height: 100%;
    border-radius: 10px;
    padding: 20px;
}

.contentHeader{
    color:#fff;
}
.contentHeader h1{
    font-size:40px; 
    width:100%; 
    text-align:center;
}

.navbar-inverse{
    background-color: #000a0c;
}
.navbar-inverse .navbar-brand{
    color:#fff;
}
.navbar-inverse .navbar-brand:hover{
    color: #025162;
    background-color: #212a2b;
}

/* TOC nav */
#tocNav ul.nav.affix{
    top: 100px;
}

#tocNav .nav > li > a:active, #tocNav .nav > li > a:focus,
#tocNav .nav > .active:focus > a, #tocNav .nav > .active > a, #tocNav .nav > .active:hover > a{
    color: #fff;
    border-left: 2px solid #025162;
}
#tocNav .nav > li > a:hover, #tocNav .nav > li > a:focus{
    color: #fff;
    border-left: 1px solid #025162;    
    background-color: transparent;
}

#tocNav .nav > li > a {
    color: #d5d5d5;
    padding-left: 15px;
}
#tocNav .nav > li > a:hover, #tocNav .nav > li > a:active {
    padding-left : 14px;
}
#tocNav .nav > li > a:focus
#tocNav .nav > .active:focus > a, #tocNav .nav > .active > a, #tocNav .nav > .active:hover > a{
    padding-left : 13px;
}

#tocNav .nav .nav > li > a{
    padding-left : 25px;
}
#tocNav .nav .nav > li > a:hover, #tocNav .nav .nav > li > a:focus, #tocNav .nav .nav > li > a:active {
    padding-left : 24px;
}
#tocNav .nav .nav > li > a:focus 
#tocNav .nav .nav > .active:focus > a, #tocNav .nav .nav > .active > a, #tocNav .nav .nav > .active:hover > a{
    padding-left : 23px;
}

#tocNav .nav .nav .nav > li > a{
    padding-left : 35px;
}
#tocNav .nav .nav .nav > li > a:hover, #tocNav .nav .nav .nav > li > a:focus, #tocNav .nav .nav .nav > li > a:active {
    padding-left : 34px;
}
#tocNav .nav .nav .nav > li > a:focus
#tocNav .nav .nav .nav > .active:focus > a, #tocNav .nav .nav .nav > .active > a, #tocNav .nav .nav .nav > .active:hover > a{
    padding-left : 33px;
}