@{
    ViewBag.Title = "About";
}
<div class="row">
    
    <div class="col-xs-12 contentHeader">
        <h1>About</h1>
    </div>
    <div class="col-xs-12 contentBody">
        <h3>About This Site</h3>
        I created this site primarily to host documentation and information for the CacheManager library and maybe 
        other components I'm working on in the future.<br />
            
        <h3>About Me</h3>
    
        My name is Michael. 
        I'm a software developer since 1996, currently living and working in Munich, Germany. I'm employed as principal developer, working with a great team and we always have a lot of fun stuff to do...
        <br />
        This website though should be completely independent from my work and I will share only stuff I'm dealing with in my spare time.
        <br />
        Apart from that I'm also very interested in gaming, online or single player. I'm trying to find time for photography, my Nikon gets dusty...
        <br />
        If you want, get in touch with me via <a href="https://twitter.com/micha_conrad">Twitter</a>, <a href="https://github.com/MichaCo/">Github</a> or my <a href="https://michaconrad.wordpress.com">Blog</a>.
        <br />
    </div>
</div>
