@{
    ViewBag.Title = "CacheManager";
    Layout = "~/Views/Shared/_LayoutWithTOC.cshtml";
}
<div class="col-xs-12 contentHeader">
    <h1>Cache Manager Readme</h1>
</div>
<div class="col-xs-12 contentBody">
    @{
        var article = "cachemanager_readme.html";
        var fileName = Server.MapPath("~/Articles/" + article);
        if (!File.Exists(fileName))
        {
            throw new InvalidOperationException("Article doesn't exist.");
        }
    }
    @Html.Raw(File.ReadAllText(fileName))
</div>