body{
    background-image:url("Images/bg.jpg");
    background-position: top center;
    background-size: auto;
    background-attachment:fixed;
}
.site-content{
    background-color:#fff;
    margin-top:20px;
    border-radius:10px;
}

.back-to-top {
    background: none;
    margin: 0;
    position: fixed;
    bottom: 60px;
    right: 4px;
    z-index: 100;
    display: none;
    text-decoration: none;
    color: #000;
}
.back-to-top:hover, .back-to-top:active{
    color: #025162;
}

.back-to-top i {
  font-size: 60px;
}

/* tiles on start page */

.tile-red{
    background-color:#ac193d;
    border:2px solid #ac193d;
}
.tile-green{
    background-color:#107c10;
    border:2px solid #107c10;
}
.tile-blue{
    background-color:#0072c6;
    border:2px solid #0072c6;
}
.tile-purple{
    background-color:#5133ab;
    border:2px solid #5133ab;
}
.tile-purple2{
    background-color:#80397b;
    border:2px solid #80397b;
}
.tile-skype{
    background-color:#00aff0;
    border:2px solid #00aff0;
}
.tile-organge{
    background-color:#d24726;
    border:2px solid #d24726;
}
.tile-magenta{
    background-color:#008299;
    border:2px solid #008299;
}
.tile-darkgray{
    background-color:#464646;
    border:2px solid #464646;
}
.tile{
    color:#ffffff;
    margin:2px;
    float:left;
}
.tile-1-1{
    width:78px;
    height:78px;
}
.tile-2-1{
    width:160px;
    height:78px;
}
.tile-2-2{
    width:160px;
    height:160px;
}
.tile-4-4{
    width:324px;
    height:324px;
}
.tile:hover{
    border: 2px solid #b2b2b2;
}
.tile:active{
    border: 2px solid #d5d5d5;
}
.tile-panel .title{
    font-size: 16px;
}
.tile-panel{
    float:left;
    min-width:380px !important;
    width:380px !important;
    /* 7px left/rigth */
    color:#ffffff;
    font-size:13px;
    padding: 40px;
}
.tile-panel h1, .tile-panel h2, .tile-panel h3, .tile-panel h4 {
    color:#ffffff;
}
.tile-panel a{
    color:#e5e5e5;
}
.tile-panel a:hover{
    color:#ffffff;
}
.tile-panel .col-lg-1, .tile-panel .col-lg-10, .tile-panel .col-lg-11,.tile-panel .col-lg-12,.tile-panel .col-lg-2, .tile-panel .col-lg-3, .tile-panel .col-lg-4, .tile-panel .col-lg-5, .tile-panel .col-lg-6, .tile-panel .col-lg-7, .tile-panel .col-lg-8, .tile-panel .col-lg-9, 
.tile-panel .col-md-1, .tile-panel .col-md-10, .tile-panel .col-md-11, .tile-panel .col-md-12, .tile-panel .col-md-2, .tile-panel .col-md-3, .tile-panel .col-md-4, .tile-panel .col-md-5, .tile-panel .col-md-6, .tile-panel .col-md-7, .tile-panel .col-md-8, .tile-panel .col-md-9, 
.tile-panel .col-sm-1, .tile-panel .col-sm-10, .tile-panel .col-sm-11, .tile-panel .col-sm-12, .tile-panel .col-sm-2, .tile-panel .col-sm-3, .tile-panel .col-sm-4, .tile-panel .col-sm-5, .tile-panel .col-sm-6, .tile-panel .col-sm-7, .tile-panel .col-sm-8, .tile-panel .col-sm-9, 
.tile-panel .col-xs-1, .tile-panel .col-xs-10, .tile-panel .col-xs-11, .tile-panel .col-xs-12, .tile-panel .col-xs-2, .tile-panel .col-xs-3, .tile-panel .col-xs-4, .tile-panel .col-xs-5, .tile-panel .col-xs-6, .tile-panel .col-xs-7, .tile-panel .col-xs-8, .tile-panel .col-xs-9{
    padding:0px;
}
@media (min-width: 768px) {
    .tile-row{
        width: 400px;
    }
}
@media (min-width: 992px) {
    .tile-row{
       width: 800px;
    }
}
@media (min-width: 1200px) {
    .tile-row{
        width: 1200px;
    }
}
.tile-4-4 p {
    padding : 20px;
    font-size: 24px;
    vertical-align: middle;
}
.tile-4-4 div {
    padding : 20px;
    font-size: 13px;
    vertical-align: middle;
}
.tile-4-4 span {
    float:left;
    margin-top: -23px;
    padding-left: 4px;
    font-size: 13px;
}
.tile-4-4 i {
    font-size: 180px;
    text-align: center;
    width: 100%;
    line-height: 1.8em;
}

.tile-2-2 p {
    padding : 20px;
    font-size: 18px;
    vertical-align: middle;
}
.tile-2-2 div {
    padding : 20px;
    font-size: 15px;
    vertical-align: middle;
}
.tile-2-2 span {
    float:left;
    margin-top: -6px;
    padding-left: 4px;
    font-size: 13px;
}
.tile-2-2 i {
    font-size: 95px;
    width: 100%;
    text-align: center;
    line-height: 1.5em;
}

.tile-2-1 div {
    padding: 6px;
    font-size: 13px;
}
.tile-2-1 span {
    float:left;
    font-size: 13px;
    padding-left: 4px;
    margin-top: -11px;
}
.tile-2-1 i {
    font-size: 44px;
    text-align: center;
    line-height: 1.5em;
    width: 100%;
}

.tile-1-1 div {
    padding: 6px;
    font-size: 13px;
}
.tile-1-1 span {
    float:left;
    font-size: 13px;
    padding-left: 4px;
    margin-top: -11px;
}
.tile-1-1 i {
    font-size: 44px;
    text-align: center;
    line-height: 1.5em;
    width: 100%;
}

/* layout for documentation */
.contentBody{
    background-color: #fff;
    height: 100%;
    border-radius: 10px;
    padding: 20px;
}

.contentHeader{
    color:#fff;
}
.contentHeader h1{
    font-size:40px; 
    width:100%; 
    text-align:center;
}

.navbar-inverse{
    background-color: #000a0c;
}
.navbar-inverse .navbar-brand{
    color:#fff;
}
.navbar-inverse .navbar-brand:hover{
    color: #025162;
    background-color: #212a2b;
}

blockquote{
    font-size:14px;
    border-left-width: 10px;
    background-color: rgba(128,128,128,0.05);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

h1, .h1{
    font-size: 30px;
}
h2, .h2{
    font-size: 24px;
}
h3, .h3{
    font-size: 20px;
}
h4, .h4 {
    font-size: 18px;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 20px; 
    margin-bottom: 10px; 
}

code {
    white-space: pre-wrap;
    padding: 1px 5px;
    color:#333;
    font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
    background-color: #eee;
}

svg{
    box-sizing: border-box;
    color: rgb(63, 63, 63);
    display: inline;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 18px;
    left: -0.5px;
    line-height: 26.1000003814697px;
    outline-color: rgb(63, 63, 63);
    outline-style: none;
    outline-width: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    text-align: center;
}
/* TOC nav */
#tocNav ul.nav.affix{
    top: 80px;
}

#tocNav .nav > li > a:active, #tocNav .nav > li > a:focus,
#tocNav .nav > .active:focus > a, #tocNav .nav > .active > a, #tocNav .nav > .active:hover > a{
    color: #fff;
    border-left: 2px solid #025162;
}
#tocNav .nav > li > a:hover, #tocNav .nav > li > a:focus{
    color: #fff;
    border-left: 1px solid #025162;    
    background-color: transparent;
}

#tocNav .nav > li > a {
    color: #d5d5d5;
    padding-left: 15px;
}
#tocNav .nav > li > a:hover, #tocNav .nav > li > a:active {
    padding-left : 14px;
}
#tocNav .nav > li > a:focus
#tocNav .nav > .active:focus > a, #tocNav .nav > .active > a, #tocNav .nav > .active:hover > a{
    padding-left : 13px;
}

#tocNav .nav .nav > li > a{
    padding-left : 25px;
}
#tocNav .nav .nav > li > a:hover, #tocNav .nav .nav > li > a:focus, #tocNav .nav .nav > li > a:active {
    padding-left : 24px;
}
#tocNav .nav .nav > li > a:focus 
#tocNav .nav .nav > .active:focus > a, #tocNav .nav .nav > .active > a, #tocNav .nav .nav > .active:hover > a{
    padding-left : 23px;
}

#tocNav .nav .nav .nav > li > a{
    padding-left : 35px;
}
#tocNav .nav .nav .nav > li > a:hover, #tocNav .nav .nav .nav > li > a:focus, #tocNav .nav .nav .nav > li > a:active {
    padding-left : 34px;
}
#tocNav .nav .nav .nav > li > a:focus
#tocNav .nav .nav .nav > .active:focus > a, #tocNav .nav .nav .nav > .active > a, #tocNav .nav .nav .nav > .active:hover > a{
    padding-left : 33px;
}